<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <title>Error - Return Order System</title>
  <link href="/webjars/bootstrap/5.1.3/css/bootstrap.min.css" rel="stylesheet" />
  <link href="/webjars/bootstrap-icons/1.8.0/font/bootstrap-icons.css" rel="stylesheet" />
  <link href="/css/error.css" rel="stylesheet" />
  <link href="/css/dashboard.css" rel="stylesheet" />
</head>

<body class="text-center">

<header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="/">
    <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" width="40" height="40"
         viewBox="0 0 101.94 122.88">
      <defs>
        <style>.cls-1{fill-rule:evenodd;}</style>
      </defs>
      <title>return-product</title>
      <path class="cls-1"
            d="M93.34,7.49a3.11,3.11,0,0,1,2,.38,3.06,3.06,0,0,1,1.82,2.78l.2,28.16,0,0,0,0h0l0,0,0,0h0l0,0,0,0h0l0,0,
                              0,0h0l0,0,0,0h-.09l0,0h0l0,0h-.09l0,0h0l0,0h-.05l0,0h0l-.05,0h0l0,0h-.05l0,0H95.8l0,0H91.82l0,0h-.09l-.09,
                              0h0l-.09,0h-.09l0,0h0l0,0-.16-22.52-19,12V70.08a45.77,45.77,0,0,1-4.91,3l-1.21-1.82V28.7L41.4,25.57l-.91,
                              26.52-9.83-6.71-9.84,5.56,2-27.74L6.12,21.07V77.91l39.5,4.39-1.19,6L2.91,83.71A3.06,3.06,0,0,1,0,80.65v-63a3.08,
                              3.08,0,0,1,1.83-2.86L34.79.25A3.07,3.07,0,0,1,36.42,0L93.34,7.49ZM48.7,114.27l8.19-41.61,8.3,12.51C83.07,78,
                              93.11,66.16,94.6,47.94c14.69,25.68,5.77,48.7-12.84,62.18l8.47,12.76L48.7,114.27ZM64.61,9.88l-18,10.21,21.82,
                              2.78L84.85,12.53,64.61,9.88ZM27.68,17.67,45.14,7.32,36.48,6.19,14.25,16l13.43,1.71Z"/>
    </svg> Return Order System</a>
  <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse"
          data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false"
          aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
</header>

<main class="form-signin">
  <svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" fill="currentColor"
       class="bi bi-exclamation-octagon-fill text-danger my-4" viewBox="0 0 16 16">
    <path
            d="M11.46.146A.5.5 0 0 0 11.107 0H4.893a.5.5 0 0 0-.353.146L.146 4.54A.5.5 0 0 0 0 4.893v6.214a.5.5 0 0 0 .146.353l4.394 4.394a.5.5 0 0 0 .353.146h6.214a.5.5 0 0 0 .353-.146l4.394-4.394a.5.5 0 0 0 .146-.353V4.893a.5.5 0 0 0-.146-.353L11.46.146zM8 4c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995A.905.905 0 0 1 8 4zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
  </svg>
  <p class="h3 mb-3 mx-5 fw-normal alert alert-danger">Oops...Sorry an unexpected error occured !</p>
  <p>Please contact our team at return order system to solve this issue.</p>
  <div th:replace="fragments/footer :: footer"></div>
</main>



</body>